{% load static %}
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Test maps</title>
    <link rel="stylesheet" type="text/css" href="{% static 'labels/map.css' %}">
    <script rel="script" type="text/javascript" src=
            "https://api-maps.yandex.ru/2.1/?apikey=21368508-3ff1-46d9-baa6-9326a78777eb&lang=ru_RU"></script>
</head>
<body>
<script type="text/javascript">
    ymaps.ready(init);
    var myMap, my_placemark;
    const URL = "http://localhost:8000/placemarks/";

    function init() {
        myMap = new ymaps.Map("map", {
            center: [45.02, 38.59],
            zoom: 9
        }, {
            searchControlProvider: "yandex#search"
        });
    }

    function load_labels() {
        fetch(URL, {
            method: 'get',
            cache: 'no-cache'
        }).then((resp) => {
            return resp.json();
        }).then(function (data) {
            let point_data = JSON.parse(data);
            let title = point_data['title'];
            //let coordinate = point_data['coordinate'];
            console.log(title);
            console.log(data);
        });
    }

    function take_event() {
        myMap.events.add("mousedown", function (event) {
            let coords = event.get('coords');
            let latitude = coords[0].toPrecision(6);
            let longitude = coords[1].toPrecision(6);
            myMap.geoObjects.add(point);
            alert([latitude, longitude].join(', '));
        });
    }

    function add_placemark() {
        init();
    }

    function remove_placemark() {
        //myMap.events.add("")
    }
</script>
<div id="map" onload="load_labels()" onmousedown="add_placemark()"></div>
</body>
</html>